<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meetchi"
        tools:targetApi="31">
        <activity
            android:name=".ui.RegisterMailActivity"
            android:exported="false"
            android:label="@string/title_activity_register_mail"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".util.AppIconOnLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_app_icon_on_login"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".ui.MailActivity"
            android:exported="false"
            android:label="@string/title_activity_mail"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".ui.ui.theme.ui.MailActivity"
            android:exported="false"
            android:label="@string/title_activity_mail"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".util.FacebookAuthActivity"
            android:exported="false"
            android:label="@string/title_activity_facebook_auth"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".ui.AuthActivity"
            android:exported="false"
            android:label="@string/title_activity_auth"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".ui.ColorTest"
            android:exported="false"
            android:label="@string/title_activity_color_test"
            android:theme="@style/Theme.Meetchi" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Meetchi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>